
.App {
  text-align: center;
  background-image: url('../src/Assets/background.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
 
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-image: url("../src/Assets/sunrise-banner.png");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid gray;
  box-shadow: 0px 5px 5px gray;
  z-index: 2;
  
 


  .navHeadings {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 80px;

    
    h1 {
      text-decoration: none;
      
      color: black;
      margin: 0 auto;
      text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
      
    }

    p {
      padding:5px 10px;
      text-decoration: none;
      font-weight: bolder;
      cursor: pointer;
      color: black;
      margin: 0 auto;
     
    }
  }
}


.Tab {
  border: 2px solid gray;
  width: 300px;
  padding: 10px;
  background-color: lightgray;
  box-shadow: 5px 5px 10px gray;
  z-index: 0;
 
  

  
  h2 {
    margin: 0px auto 0px auto;
    
  }

  hr {
    border-bottom: 2px solid black;
    width: 90px;
    margin-bottom: 10px;
  }

  

  .proSection {
    display: flex;
    flex-direction: row;
    width: 290px;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px; 
    height: 60px;
    
    .logo {
      border-radius: 25%;
      width: 50px;
      height: 50px;
    }

    .proSection-text {
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
       
      }
    }
  }
}

.right {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 80px;
 
  
}

.left {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 80px;
  

}


.active {
    
    border-bottom: 2px solid white;
    border-radius:5px;

    

}

.infoApi {
  background: darkgray;
  opacity: .8;
  display: inline-block;
  margin: 20px;
  width: 420px;
  padding: 5px;
  box-shadow: 5px 5px 10px lightgray;
  z-index: -1;
  


  h1 {
    font-size: 3rem;
    color: white;
  }

  h2 {
    font-size: 1.8rem;
    color: white;
  }

  .weatherInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    p {
      color: white;
    }

    span {
      color: gold;
      font-size: 1.4rem;
    }
  }
}



.cycles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  ;
  opacity: .8;
  width: 480px;
  margin: auto;
  z-index: -1;
  border-radius: 10px;

  .eachCycle {
    border: 1px solid gold;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgray;
    margin: auto 10px;

    &:hover {
      background-color: black;

      .p2 {
        color: white;
      }
    }

    .p1 {
      color: gold;
      font-size: 1.2rem;
    }

  }
}